/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

header {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

body {
	position: static;
	top: -1px;
	background-image: url("imagen/imagenPanoramica1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 5%;
}

#divMensaje {
	position: absolute;
	width: 11%;
	left: 75%;
	height: 3%;
	z-index: 1;
	opacity: 0.75;
	font-size: xx-small;
	background-position: 25px 8px;
}

#fondo_base {
	position: absolute;
	margin: 0;
	width: 100%;
	height: 5%;
	background-color: #000000;
	z-index: 1;
	opacity: 0.2;
}

#fondo_menu {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 10%;
	background-color: #ffffff;
}

#fondo_login {
	position: absolute;
	z-index: 2;
	width: 14%;
	max-width: 300px;
	height: 17%;
	max-height: 140px;
	background-color: #ffffff;
	top: 14%;
	left: 85%;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; //
	opacity: 0.9;
	-moz-opacity: 0.9;
	-webkit-opacity: 0.8;
	font-size: 12px;
	display: none;
}

#form_login {
	text-align: center;
	margin: 5%;
}

.login {
	margin-top: 5%;
	color: #ffffff;
	font-family: Tahoma, Arial, Geneva, sans-serif;
	background: linear-gradient(#E6E6E6, #D2E0F7);
	border: 1px solid #222;
	border-radius: 0.3em;
}

input[type=submit] {
	font-family: Tahoma, Arial, Geneva, sans-serif;
	margin-top: 5%;
	padding: 2.5px 10px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	background: #0184ff;
	color: #fff;
}

#datos {
	width: 100%;
	height: 90%;
	margin: 1%;
	z-index: 3;
	left: 10%;
}

#datos p {
	color: #656565;
	font-size: 1.1em;
	text-align: left;
	font-family: Tahoma, Arial, Geneva, sans-serif;
}

#botonRegistro {
	position: fixed;
	z-index: 2;
	width: 0%;
	max-width: 300px;
	height: 0%;
	max-height: 140px;
	background-color: #ffffff;
	top: 5%;
	left: 91%;
	/* border-radius: 8px; */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-opacity: 0.9;
	/* -webkit-opacity: 0.9; */
	text-align: center;
	font-size: x-small;
}

#logo_u {
	position: absolute;
	right: 97%;
	z-index: 3;
	width: 2%;
	top: 82%;
	bottom: 2%;
	max-width: 20px;
	height: 5%;
	max-height: 20px;
	opacity: 0.5;
}

#fondo_texto {
	position: absolute;
	z-index: 2;
	width: 65%;
	max-width: 700px;
	height: 50%;
	max-height: 200px;
	top: 7%;
	left: 0;
	background-color: #170317;
	opacity: 0.6;
	border-radius: 0px 10px 10px 0px;
}

#texto {
	width: 85%;
	height: 80%;
	margin: 8%;
	color: #ffffff;
	text-align: center;
	left: 2%;
}

h1 {
	font-family: Tahoma, Arial, Geneva, sans-serif;
	font-size: 2.8em;
	margin: 0;
}

h2 {
	font-family: Tahoma, Arial, Geneva, sans-serif;
	font-size: 2.0em;
	margin: 0;
}

h3 {
	font-family: Tahoma, Arial, Geneva, sans-serif;
	font-size: 1.5em;
	margin: 0;
}

footer {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 15%;
	background-color: #000000;
	top: 83%;
	left: 0;
	text-align: left;
	opacity: 0.75;
}

#footerLeft {
	width: 70%;
	float: left;
	display: block;
	height: 50px;
	color: #FFFFFF;
	left: 0;
}

#footerRight {
	width: 10%;
	float: right;
	display: block;
	height: 50px;
	margin: 1%;
	right: 0;
}

#footerLeft p {
	margin-left: 12%;
	font-family: Tahoma, Arial, Geneva, sans-serif;
	color: rgb(255, 255, 255);
	font-family: Tahoma, Arial, Geneva, sans-serif;
	font-size: 11px;
	left: 8%;
}

#footerLeft a {
	left: 8%;
	text-decoration: none;
	color: #0184ff;
	font-family: Tahoma, Arial, Geneva, sans-serif;
	font-size: 11px;
}