.bannerAplicativo {
	clear: both;
	position: fixed;
    width: 94%;
	height: 200px;
	border-style: double;
	border-color: rgba(143, 188, 143, 1);
	background-color: rgba(143, 188, 143, 0.55);
}

.texto {
	text-align: right;
	font-size: xx-large;
	font-family: fantasy;
	color: green;
	width: 97%;
}

.texto2 {
	text-align: right;
	font-size: small;
	color: green;
	width: 97%;
}