.bannerAplicativo {
	clear: both;
	position: fixed;
	width: 94%;
	height: 200px;
	z-index: 1;
	opacity: .5;
}

.texto {
	text-align: right;
	font-size: xx-large;
	font-family: fantasy;
	color: white;
	width: 97%;
}

.texto2 {
	text-align: right;
	font-size: small;
	color: white;
	width: 97%;
}